header{
    background-color:#03062d
}

body{
    background-color:cadetblue;
    
}


footer{
    background-color:#03062d;
}

a{
    color: blueviolet;
}

button{
    background-color: blueviolet;
}